<section class="section-border border-primary">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-5">

        <!-- Heading -->
        <h1 class="display-3 font-weight-bold">
          Uh Oh!
        </h1>

        <!-- Text -->
        <p class="text-muted">
          We ran into an issue, but don’t worry, we’ll take care of it.
        </p>

        <!-- Link -->
        <div class="text-center">
          <a class="btn btn-warning" routerLink="/home">
            Back to safety!
          </a>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
