<div class="container">
  <div class="row justify-content-center">
    <div class="text-center">

      <!-- Heading -->
      <h2 class="font-weight-bold">
        Let us hear from you directly!
      </h2>

      <!-- Text -->
      <p class="font-size-lg text-muted">
        We always want to hear from you! Let us know how we can best help you and we'll do our very best.
      </p>

    </div>
  </div> <!-- / .row -->
  <div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-10">

      <!-- Form -->
      <form>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group">

              <!-- Label -->
              <label for="contactName">
                Full name
              </label>

              <!-- Input -->
              <input type="text" class="form-control" id="contactName" placeholder="Full name">

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mb-5">

              <!-- Label -->
              <label for="contactEmail">
                Email
              </label>

              <!-- Input -->
              <input type="email" class="form-control" id="contactEmail" placeholder="hello@domain.com">

            </div>
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
            <div class="form-group mb-7 mb-md-9">

              <!-- Label -->
              <label for="contactMessage">
                What can we help you with?
              </label>

              <!-- Input -->
              <textarea class="form-control" id="contactMessage" rows="5"
                placeholder="Tell us what we can help you with!"></textarea>

            </div>
          </div>
        </div> <!-- / .row -->
        <div class="row justify-content-center">
          <div class="col-auto">

            <!-- Submit -->
            <button type="submit" class="btn btn-warning">
              Send message
            </button>

          </div>
        </div> <!-- / .row -->
      </form>

    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->
