<nav class="navbar sticky-top navbar-expand-lg navbar-light">

    <!-- Brand -->
    <a class="navbar-brand d-lg-none" routerLink="/home" routerLinkActive="active">Lorem</a>

    <!-- Navigation -->
    <ul class="navbar-nav justify-content-end w-100">
      <li>
        <a class="nav-link" routerLink="/error" routerLinkActive="active">Error</a>
      <li>
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>

      <li>
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>

    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Lorem</a>

    <ul class="navbar-nav justify-content-start w-100">

      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/testp" routerLinkActive="active">Test Page</a>
      </li>
    </ul>
</nav>

<!-- Footer -->
  <div class="footer">If you think Lorem's good, 👍
    <a href="https://twitter.com/intent/tweet?text=I%27m+using+Lorem!&url=lorem.com&via=amansarosh">tweet it!</a>
  </div>

<router-outlet></router-outlet>
