.top-text {
  text-align: center;
  padding-top: 15rem;
  font-size: 4.5rem;
  color: #1b1642;
}

.text-uppercase {
  color: #1b1642;
  margin-bottom: 0px;
  font-size: 1.1rem;
}

.btn {
  color: #1b1642;
}

.typed-element {
  color: #ffc107;
}

.padding {
  padding: 11rem;
}