<div data-aos="zoom-in" data-aos-duration="700">
  <h1 class="top-text">Lorem is for <span class="top-text" class="typed-element"></span></h1>
</div>

<!-- Content -->
<div class="container-lg">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 text-center">

      <!-- Preheading -->
      <div data-aos="fade-right" data-aos-duration="700">
        <h6 class="text-uppercase mb-5">Lorem, the smarter solution to photo storagedsfdb</h6>
      </div>

      <div data-aos="fade-left" data-aos-duration="700">
        <button type="button" class="btn btn-warning btn-lg" routerLink="/login" routerLinkActive="active">Get
          Started</button>
        <button type="button" class="btn btn-lg" routerLink="/about" routerLinkActive="active">Learn More</button>
      </div>
    </div>

    <img class="arrow"
      src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png" />
